@inherits Umbraco.Web.Mvc.UmbracoViewPage<BlogSiteWithUmbraco.Models.BlogItemModel>

<div class="post-entry-2 d-flex bg-light">
    <div class="thumbnail" style="background-image: url('@Umbraco.Media(Model.Thumbnail).Url')"></div>
    <div class="contents">
        <h2><a href="@Umbraco.TypedContent(Model.Id).Url">@Model.Title</a></h2>
        <div class="post-meta">
            <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
            <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span class="icon-star2"></span></span>
        </div>
    </div>
</div>