@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="copyright">
                    <p>
                        Copyright ©
                        <span>@Model.Content.Site().GetPropertyValue("footerContent")</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>