@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var template = Model.Content.Site().FirstChild("templateSetting");
}
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="copyright">
                    <p>
                        Copyright ©
                        <span>@template.GetPropertyValue("footerContent")</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>