<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT page ANY>
<!ATTLIST page id ID #REQUIRED>
<!ELEMENT sliderItem ANY>
<!ATTLIST sliderItem id ID #REQUIRED>
<!ELEMENT sliders ANY>
<!ATTLIST sliders id ID #REQUIRED>
<!ELEMENT blogs ANY>
<!ATTLIST blogs id ID #REQUIRED>
<!ELEMENT blogItem ANY>
<!ATTLIST blogItem id ID #REQUIRED>
<!ELEMENT header ANY>
<!ATTLIST header id ID #REQUIRED>
<!ELEMENT footer ANY>
<!ATTLIST footer id ID #REQUIRED>
<!ELEMENT socialMedia ANY>
<!ATTLIST socialMedia id ID #REQUIRED>
<!ELEMENT navbarItem ANY>
<!ATTLIST navbarItem id ID #REQUIRED>
<!ELEMENT newsletterItem ANY>
<!ATTLIST newsletterItem id ID #REQUIRED>
<!ELEMENT blogCategoryItem ANY>
<!ATTLIST blogCategoryItem id ID #REQUIRED>
<!ELEMENT blogCategories ANY>
<!ATTLIST blogCategories id ID #REQUIRED>
<!ELEMENT english ANY>
<!ATTLIST english id ID #REQUIRED>
]>
<root id="-1">
  <english id="1140" key="bf088cb7-c3c1-460e-901e-fb585a46fae5" parentID="-1" level="1" creatorID="0" sortOrder="3" createDate="2023-01-03T16:37:14" updateDate="2023-01-03T16:37:34" nodeName="Language - English" urlName="language-english" path="-1,1140" isDoc="" nodeType="1139" creatorName="Nhu" writerName="Nhu" writerID="0" template="0" nodeTypeAlias="english" isPublished="true">
    <page id="1143" key="703007a4-2fcf-464f-bfed-21484e7db0d9" parentID="1140" level="2" creatorID="0" sortOrder="0" createDate="2023-01-03T16:44:02" updateDate="2023-01-03T16:44:02" nodeName="Trang" urlName="trang" path="-1,1140,1143" isDoc="" nodeType="1071" creatorName="Nhu" writerName="Nhu" writerID="0" template="0" nodeTypeAlias="page" isPublished="true">
      <home id="1144" key="008f2593-93bc-4b41-bfb6-e34c5a24af81" parentID="1143" level="3" creatorID="0" sortOrder="0" createDate="2023-01-03T16:44:47" updateDate="2023-01-03T16:44:51" nodeName="Trang Chủ" urlName="trang-chủ" path="-1,1140,1143,1144" isDoc="" nodeType="1064" creatorName="Nhu" writerName="Nhu" writerID="0" template="1079" nodeTypeAlias="home" isPublished="true" />
      <blogs id="1145" key="619a76b3-bbc4-4b23-b37f-bc69ae7da649" parentID="1143" level="3" creatorID="0" sortOrder="1" createDate="2023-01-03T16:45:02" updateDate="2023-01-03T16:45:02" nodeName="Bài Viết" urlName="bài-viết" path="-1,1140,1143,1145" isDoc="" nodeType="1076" creatorName="Nhu" writerName="Nhu" writerID="0" template="1065" nodeTypeAlias="blogs" isPublished="true" />
      <contact id="1146" key="7384eb7d-02dd-4e96-b1df-40a03aee609d" parentID="1143" level="3" creatorID="0" sortOrder="2" createDate="2023-01-03T16:45:26" updateDate="2023-01-03T16:45:26" nodeName="Liên Hệ" urlName="liên-hệ" path="-1,1140,1143,1146" isDoc="" nodeType="1070" creatorName="Nhu" writerName="Nhu" writerID="0" template="1069" nodeTypeAlias="contact" isPublished="true" />
    </page>
  </english>
  <english id="1147" key="af904502-9221-4a6b-8310-febb8717a505" parentID="-1" level="1" creatorID="0" sortOrder="4" createDate="2023-01-03T16:49:47" updateDate="2023-01-03T16:49:47" nodeName="Language - English" urlName="language-english" path="-1,1147" isDoc="" nodeType="1139" creatorName="Nhu" writerName="Nhu" writerID="0" template="0" nodeTypeAlias="english" isPublished="true">
    <page id="1148" key="8219ba13-a0c8-4edd-a126-f7b721cba154" parentID="1147" level="2" creatorID="0" sortOrder="0" createDate="2023-01-03T16:50:03" updateDate="2023-01-03T17:22:01" nodeName="Page" urlName="page" path="-1,1147,1148" isDoc="" nodeType="1071" creatorName="Nhu" writerName="Nhu" writerID="0" template="0" nodeTypeAlias="page" isPublished="true">
      <socialMedias><![CDATA[[{"key":"0c7ba03b-8f01-438c-bb49-024919eafac8","name":"Item 1","ncContentTypeAlias":"socialMedia","platformName":"Facebook","platformIcon":"","platformUrl":"https://facebook.com/"},{"key":"faeb57d1-1623-4695-88cf-89a09d6fd0fa","name":"Item 2","ncContentTypeAlias":"socialMedia","platformName":"Twitter","platformIcon":"","platformUrl":"https://twitter.com"},{"key":"6d2d6fed-3750-450c-a767-8c726067f4ce","name":"Item 3","ncContentTypeAlias":"socialMedia","platformName":"Instagram","platformIcon":"","platformUrl":"https://www.instagram.com/"}]]]></socialMedias>
      <logoText><![CDATA[Blogging]]></logoText>
      <logoUrl><![CDATA[/home-page/]]></logoUrl>
      <navbar><![CDATA[[{"key":"22dc4b90-2ccf-4dce-b92c-714314ef5907","name":"Item 1","ncContentTypeAlias":"navbarItem","navbarItemName":"Home","navbarItemIcon":"","navbarUrl":""},{"key":"b088581c-d1d0-4d73-98ad-dbe3be804ecf","name":"Item 2","ncContentTypeAlias":"navbarItem","navbarItemName":"Blogs","navbarItemIcon":"","navbarUrl":""},{"key":"1509ca14-6f69-431a-a0cc-c43e18fcce28","name":"Item 3","ncContentTypeAlias":"navbarItem","navbarItemName":"Contact Us","navbarItemIcon":"","navbarUrl":""}]]]></navbar>
      <footerContent><![CDATA[This is my blog site footer]]></footerContent>
      <title><![CDATA[Subscribe us to receive latest news]]></title>
      <subtext><![CDATA[ If you use this site regularly and would like to help keep the site on the Internet, please consider donating a small sum to help pay]]></subtext>
      <home id="1149" key="8dc6e6a2-3068-40d4-ba87-5ee6ac9b87b9" parentID="1148" level="3" creatorID="0" sortOrder="0" createDate="2023-01-03T16:50:27" updateDate="2023-01-03T16:50:27" nodeName="Home Page" urlName="home-page" path="-1,1147,1148,1149" isDoc="" nodeType="1064" creatorName="Nhu" writerName="Nhu" writerID="0" template="1079" nodeTypeAlias="home" isPublished="true" />
      <blogs id="1150" key="a95184be-22eb-4a49-8df3-f80be099535f" parentID="1148" level="3" creatorID="0" sortOrder="1" createDate="2023-01-03T16:50:41" updateDate="2023-01-03T16:50:41" nodeName="Blogs" urlName="blogs" path="-1,1147,1148,1150" isDoc="" nodeType="1076" creatorName="Nhu" writerName="Nhu" writerID="0" template="1065" nodeTypeAlias="blogs" isPublished="true">
        <blogItem id="1152" key="db4724db-5677-48c2-920e-1b1f2d029481" parentID="1150" level="4" creatorID="0" sortOrder="0" createDate="2023-01-03T16:55:00" updateDate="2023-01-03T16:55:00" nodeName="News Needs to Meet Its Audiences Where They Are" urlName="news-needs-to-meet-its-audiences-where-they-are" path="-1,1147,1148,1150,1152" isDoc="" nodeType="1078" creatorName="Nhu" writerName="Nhu" writerID="0" template="1077" nodeTypeAlias="blogItem" isPublished="true">
          <thumbnail><![CDATA[umb://media/38349f00dd834daaa40d55b6c3ef52d0]]></thumbnail>
          <shortDescription><![CDATA[Voluptatum animi, voluptate sint aperiam facere a nam, ex reiciendis eum nemo ipsum nobis, rem illum cupiditate at quaerat amet qui recusandae hic, atque laboriosam perspiciatis? Esse quidem minima, voluptas necessitatibus, officia culpa quo nulla, cupiditate iste vel unde magni.]]></shortDescription>
          <title><![CDATA[News Needs to Meet Its Audiences Where They Are]]></title>
          <blogUrl><![CDATA[news-needs-to-meet-its-audiences-where-they-are]]></blogUrl>
          <content><![CDATA[<p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit officia neque beatae at inventore excepturi numquam sint commodi alias, quam consequuntur corporis ex, distinctio eaque sapiente pariatur iure ad necessitatibus in quod obcaecati natus consequatur. Sed dicta maiores, eos culpa.</p>
<p style="text-align: justify;">Voluptatum animi, voluptate sint aperiam facere a nam, ex reiciendis eum nemo ipsum nobis, rem illum cupiditate at quaerat amet qui recusandae hic, atque laboriosam perspiciatis? Esse quidem minima, voluptas necessitatibus, officia culpa quo nulla, cupiditate iste vel unde magni.</p>
<p style="text-align: justify;">Nulla nesciunt eligendi ratione, atque, hic, ullam suscipit quos enim vitae fugiat ducimus, dolore delectus iste id culpa. Ducimus, iste magnam sed reprehenderit architecto perferendis odio voluptas molestiae quidem ab numquam debitis, dolorem incidunt, tempore a quod qui nobis. Voluptates!</p>
<p style="text-align: justify;">Blanditiis, ipsum sed odio reprehenderit sequi ut vitae, dolor minima ab! Architecto nesciunt nemo sint est aspernatur fugit consequatur, magnam suscipit asperiores illo eum repellendus officia dolorem, molestiae commodi nam voluptatem quis quia vel cumque quos, aliquam ex incidunt sapiente!</p>
<p style="text-align: justify;">Suscipit, officiis, vero! Perferendis accusamus quos voluptatum culpa, provident maiores! Illo itaque ullam fugit molestiae, eaque accusamus impedit autem numquam. Placeat molestias tempore eaque ipsam vel voluptatum velit enim quam iusto maxime delectus, sint sapiente ea, quo excepturi nisi! Quia.</p>
<p style="text-align: justify;">Dolores debitis excepturi maxime earum sapiente totam, quos dolore inventore tempore illum. Dolores explicabo sed amet aut atque, facere aliquid repudiandae quod possimus quo hic similique et voluptates fugit iure dolore quam ipsa numquam assumenda corporis? Dignissimos expedita fugit sapiente.</p>
<p style="text-align: justify;">Cupiditate ut, aspernatur labore obcaecati, eveniet aut velit nulla facere suscipit est recusandae vel error itaque earum doloremque hic necessitatibus dignissimos dolores libero laudantium ducimus! Rem dolorem ratione officia et, fugit non, fuga suscipit eos veritatis enim perspiciatis, magni sit!</p>]]></content>
        </blogItem>
        <blogItem id="1153" key="e52ccfae-67b8-4781-80b4-4a8253d13342" parentID="1150" level="4" creatorID="0" sortOrder="1" createDate="2023-01-03T16:55:48" updateDate="2023-01-03T16:55:48" nodeName="Morant’s Curve, Banff National Park, Canada" urlName="morant-s-curve-banff-national-park-canada" path="-1,1147,1148,1150,1153" isDoc="" nodeType="1078" creatorName="Nhu" writerName="Nhu" writerID="0" template="1077" nodeTypeAlias="blogItem" isPublished="true">
          <thumbnail><![CDATA[umb://media/067bbe5526fb4b8e90b7b8aa1c1b86bf]]></thumbnail>
          <shortDescription><![CDATA[Nulla nesciunt eligendi ratione, atque, hic, ullam suscipit quos enim vitae fugiat ducimus, dolore delectus iste id culpa. Ducimus, iste magnam sed reprehenderit architecto perferendis odio voluptas molestiae quidem ab numquam debitis, dolorem incidunt, tempore a quod qui nobis. Voluptates!]]></shortDescription>
          <title><![CDATA[Morant’s Curve, Banff National Park, Canada]]></title>
          <blogUrl><![CDATA[morants-curve-banff-national-park-canada]]></blogUrl>
          <content><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit officia neque beatae at inventore excepturi numquam sint commodi alias, quam consequuntur corporis ex, distinctio eaque sapiente pariatur iure ad necessitatibus in quod obcaecati natus consequatur. Sed dicta maiores, eos culpa.</p>
<p><img style="width: 500px; height: 375.37537537537537px;" src="/media/1006/photo6.jpg?width=500&amp;height=375.37537537537537" alt="" data-udi="umb://media/0c242918772246bb98c1367d0d30e22c" /></p>
<p>Voluptatum animi, voluptate sint aperiam facere a nam, ex reiciendis eum nemo ipsum nobis, rem illum cupiditate at quaerat amet qui recusandae hic, atque laboriosam perspiciatis? Esse quidem minima, voluptas necessitatibus, officia culpa quo nulla, cupiditate iste vel unde magni.</p>
<p>Nulla nesciunt eligendi ratione, atque, hic, ullam suscipit quos enim vitae fugiat ducimus, dolore delectus iste id culpa. Ducimus, iste magnam sed reprehenderit architecto perferendis odio voluptas molestiae quidem ab numquam debitis, dolorem incidunt, tempore a quod qui nobis. Voluptates!</p>
<p>Blanditiis, ipsum sed odio reprehenderit sequi ut vitae, dolor minima ab! Architecto nesciunt nemo sint est aspernatur fugit consequatur, magnam suscipit asperiores illo eum repellendus officia dolorem, molestiae commodi nam voluptatem quis quia vel cumque quos, aliquam ex incidunt sapiente!</p>
<p>Suscipit, officiis, vero! Perferendis accusamus quos voluptatum culpa, provident maiores! Illo itaque ullam fugit molestiae, eaque accusamus impedit autem numquam. Placeat molestias tempore eaque ipsam vel voluptatum velit enim quam iusto maxime delectus, sint sapiente ea, quo excepturi nisi! Quia.</p>
<p>Dolores debitis excepturi maxime earum sapiente totam, quos dolore inventore tempore illum. Dolores explicabo sed amet aut atque, facere aliquid repudiandae quod possimus quo hic similique et voluptates fugit iure dolore quam ipsa numquam assumenda corporis? Dignissimos expedita fugit sapiente.</p>
<p>Cupiditate ut, aspernatur labore obcaecati, eveniet aut velit nulla facere suscipit est recusandae vel error itaque earum doloremque hic necessitatibus dignissimos dolores libero laudantium ducimus! Rem dolorem ratione officia et, fugit non, fuga suscipit eos veritatis enim perspiciatis, magni sit!</p>]]></content>
        </blogItem>
        <blogItem id="1154" key="fb8a5bba-3dd2-4b5a-804c-cfd32d5174ae" parentID="1150" level="4" creatorID="0" sortOrder="2" createDate="2023-01-03T16:56:31" updateDate="2023-01-03T16:56:31" nodeName="Sunshine the beautiful sun Conure Southland New Zealand" urlName="sunshine-the-beautiful-sun-conure-southland-new-zealand" path="-1,1147,1148,1150,1154" isDoc="" nodeType="1078" creatorName="Nhu" writerName="Nhu" writerID="0" template="1077" nodeTypeAlias="blogItem" isPublished="true">
          <thumbnail><![CDATA[umb://media/900e5b60a67c46e3a7b61e1c06132354]]></thumbnail>
          <shortDescription><![CDATA[Voluptatum animi, voluptate sint aperiam facere a nam, ex reiciendis eum nemo ipsum nobis, rem illum cupiditate at quaerat amet qui recusandae hic, atque laboriosam perspiciatis? Esse quidem minima, voluptas necessitatibus, officia culpa quo nulla, cupiditate iste vel unde magni.]]></shortDescription>
          <title><![CDATA[Sunshine the beautiful sun Conure Southland New Zealand]]></title>
          <blogUrl><![CDATA[sunshine-the-beautiful-sun-conure-southland-new-zealand]]></blogUrl>
          <content><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit officia neque beatae at inventore excepturi numquam sint commodi alias, quam consequuntur corporis ex, distinctio eaque sapiente pariatur iure ad necessitatibus in quod obcaecati natus consequatur. Sed dicta maiores, eos culpa.</p>
<p>Voluptatum animi, voluptate sint aperiam facere a nam, ex reiciendis eum nemo ipsum nobis, rem illum cupiditate at quaerat amet qui recusandae hic, atque laboriosam perspiciatis? Esse quidem minima, voluptas necessitatibus, officia culpa quo nulla, cupiditate iste vel unde magni.</p>
<p>Nulla nesciunt eligendi ratione, atque, hic, ullam suscipit quos enim vitae fugiat ducimus, dolore delectus iste id culpa. Ducimus, iste magnam sed reprehenderit architecto perferendis odio voluptas molestiae quidem ab numquam debitis, dolorem incidunt, tempore a quod qui nobis. Voluptates!</p>
<p>Blanditiis, ipsum sed odio reprehenderit sequi ut vitae, dolor minima ab! Architecto nesciunt nemo sint est aspernatur fugit consequatur, magnam suscipit asperiores illo eum repellendus officia dolorem, molestiae commodi nam voluptatem quis quia vel cumque quos, aliquam ex incidunt sapiente!</p>
<p>Suscipit, officiis, vero! Perferendis accusamus quos voluptatum culpa, provident maiores! Illo itaque ullam fugit molestiae, eaque accusamus impedit autem numquam. Placeat molestias tempore eaque ipsam vel voluptatum velit enim quam iusto maxime delectus, sint sapiente ea, quo excepturi nisi! Quia.</p>
<p>Dolores debitis excepturi maxime earum sapiente totam, quos dolore inventore tempore illum. Dolores explicabo sed amet aut atque, facere aliquid repudiandae quod possimus quo hic similique et voluptates fugit iure dolore quam ipsa numquam assumenda corporis? Dignissimos expedita fugit sapiente.</p>
<p>Cupiditate ut, aspernatur labore obcaecati, eveniet aut velit nulla facere suscipit est recusandae vel error itaque earum doloremque hic necessitatibus dignissimos dolores libero laudantium ducimus! Rem dolorem ratione officia et, fugit non, fuga suscipit eos veritatis enim perspiciatis, magni sit!</p>]]></content>
        </blogItem>
        <blogItem id="1155" key="83c69768-8c21-47ad-b885-0917939979f2" parentID="1150" level="4" creatorID="0" sortOrder="3" createDate="2023-01-03T16:57:16" updateDate="2023-01-03T16:57:16" nodeName="Lorem Ipsum is not simply random text" urlName="lorem-ipsum-is-not-simply-random-text" path="-1,1147,1148,1150,1155" isDoc="" nodeType="1078" creatorName="Nhu" writerName="Nhu" writerID="0" template="1077" nodeTypeAlias="blogItem" isPublished="true">
          <thumbnail><![CDATA[umb://media/14b206bc2df04a34a5676f8695e95562]]></thumbnail>
          <shortDescription><![CDATA[The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.]]></shortDescription>
          <title><![CDATA[Lorem Ipsum is not simply random text]]></title>
          <blogUrl><![CDATA[ lorem-ipsum-is-not-simply-random-text]]></blogUrl>
          <content><![CDATA[<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>]]></content>
        </blogItem>
        <blogItem id="1156" key="e6bdf7ec-cdc4-49da-8444-08cae0d58b70" parentID="1150" level="4" creatorID="0" sortOrder="4" createDate="2023-01-03T16:57:59" updateDate="2023-01-03T16:57:59" nodeName="All the Lorem Ipsum generators on the Internet" urlName="all-the-lorem-ipsum-generators-on-the-internet" path="-1,1147,1148,1150,1156" isDoc="" nodeType="1078" creatorName="Nhu" writerName="Nhu" writerID="0" template="1077" nodeTypeAlias="blogItem" isPublished="true">
          <thumbnail><![CDATA[umb://media/6d560f040bfa400496f017120b0cf71d]]></thumbnail>
          <shortDescription><![CDATA[There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.]]></shortDescription>
          <title><![CDATA[All the Lorem Ipsum generators on the Internet]]></title>
          <blogUrl><![CDATA[all-the-lorem-ipsum-generators-on-the-internet]]></blogUrl>
          <content><![CDATA[<h3>The standard Lorem Ipsum passage, used since the 1500s</h3>
<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
<h3>Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC</h3>
<p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>]]></content>
        </blogItem>
        <blogItem id="1157" key="9349389a-30f9-4d61-8d2f-3419a8a0d463" parentID="1150" level="4" creatorID="0" sortOrder="5" createDate="2023-01-03T16:58:40" updateDate="2023-01-03T16:58:40" nodeName="The standard Lorem Ipsum passage, used since the 1500s" urlName="the-standard-lorem-ipsum-passage-used-since-the-1500s" path="-1,1147,1148,1150,1157" isDoc="" nodeType="1078" creatorName="Nhu" writerName="Nhu" writerID="0" template="1077" nodeTypeAlias="blogItem" isPublished="true">
          <thumbnail><![CDATA[umb://media/466cf503d11d420a92bace3083ee55fb]]></thumbnail>
          <shortDescription><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.]]></shortDescription>
          <title><![CDATA[The standard Lorem Ipsum passage, used since the 1500s]]></title>
          <blogUrl><![CDATA[the-standard-lorem-ipsum-passage-used-since-the-1500s]]></blogUrl>
          <content><![CDATA[<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
<h3>Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC</h3>
<p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
<h3>1914 translation by H. Rackham</h3>
<p>"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"</p>]]></content>
        </blogItem>
      </blogs>
      <contact id="1151" key="4d3878d5-5782-41a7-a485-5e7701d68721" parentID="1148" level="3" creatorID="0" sortOrder="2" createDate="2023-01-03T16:50:54" updateDate="2023-01-03T16:50:54" nodeName="Contact Us" urlName="contact-us" path="-1,1147,1148,1151" isDoc="" nodeType="1070" creatorName="Nhu" writerName="Nhu" writerID="0" template="1069" nodeTypeAlias="contact" isPublished="true" />
    </page>
  </english>
</root>