<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT page ANY>
<!ATTLIST page id ID #REQUIRED>
<!ELEMENT sliderItem ANY>
<!ATTLIST sliderItem id ID #REQUIRED>
<!ELEMENT sliders ANY>
<!ATTLIST sliders id ID #REQUIRED>
<!ELEMENT blogs ANY>
<!ATTLIST blogs id ID #REQUIRED>
<!ELEMENT blogItem ANY>
<!ATTLIST blogItem id ID #REQUIRED>
<!ELEMENT header ANY>
<!ATTLIST header id ID #REQUIRED>
<!ELEMENT footer ANY>
<!ATTLIST footer id ID #REQUIRED>
<!ELEMENT socialMedia ANY>
<!ATTLIST socialMedia id ID #REQUIRED>
<!ELEMENT navbarItem ANY>
<!ATTLIST navbarItem id ID #REQUIRED>
<!ELEMENT newsletterItem ANY>
<!ATTLIST newsletterItem id ID #REQUIRED>
<!ELEMENT blogCategoryItem ANY>
<!ATTLIST blogCategoryItem id ID #REQUIRED>
]>
<root id="-1">
  <page id="1081" key="38f053d7-d1c5-43d6-a263-aa96dc34f30c" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2022-12-30T14:39:01" updateDate="2023-01-03T10:05:28" nodeName="Pages" urlName="pages" path="-1,1081" isDoc="" nodeType="1071" creatorName="Nhu" writerName="Nhu" writerID="0" template="0" nodeTypeAlias="page" isPublished="true">
    <socialMedias><![CDATA[[{"key":"33efe425-b6a5-4302-bf71-24b4c3dc7ad4","name":"Item 1","ncContentTypeAlias":"socialMedia","platformName":"Facebook","platformIcon":"","platformUrl":"https://vi-vn.facebook.com/"},{"key":"0e22ef8d-2e33-4bfc-ba98-242c184813dc","name":"Item 2","ncContentTypeAlias":"socialMedia","platformName":"Instagram","platformIcon":"","platformUrl":"https://www.instagram.com/"},{"key":"8158c2b0-1ea1-49e3-bad7-b8ee011f3f8c","name":"Item 3","ncContentTypeAlias":"socialMedia","platformName":"Twitter","platformIcon":"","platformUrl":"https://twitter.com/?lang=vi"}]]]></socialMedias>
    <logoText><![CDATA[Blogging]]></logoText>
    <logoUrl><![CDATA[https://www.google.com]]></logoUrl>
    <navbar><![CDATA[[{"key":"0634c461-eb81-4f18-88a3-fabdd837e749","name":"Item 1","ncContentTypeAlias":"navbarItem","navbarItemName":"Home","navbarItemIcon":"","navbarUrl":"/home-page/"},{"key":"bd56d4ee-3984-4908-b702-8cbac49fbf50","name":"Item 2","ncContentTypeAlias":"navbarItem","navbarItemName":"Blogs","navbarItemIcon":"","navbarUrl":"/blogs/"},{"key":"af640fb2-4c6a-4bc4-815f-e6b79750d738","name":"Item 3","ncContentTypeAlias":"navbarItem","navbarItemName":"Contact Me","navbarItemIcon":"","navbarUrl":"/contact-us"}]]]></navbar>
    <footerContent><![CDATA[This is my blog site footer]]></footerContent>
    <home id="1082" key="b98ac48d-105c-48e2-9f9a-bf096acee1d4" parentID="1081" level="2" creatorID="0" sortOrder="0" createDate="2022-12-30T14:39:26" updateDate="2023-01-03T07:25:21" nodeName="Home Page" urlName="home-page" path="-1,1081,1082" isDoc="" nodeType="1064" creatorName="Nhu" writerName="Nhu" writerID="0" template="1079" nodeTypeAlias="home" isPublished="true" />
    <blogs id="1084" key="7a36d97b-194c-4804-b02e-7ef7890a058a" parentID="1081" level="2" creatorID="0" sortOrder="2" createDate="2022-12-30T14:41:35" updateDate="2022-12-30T17:04:22" nodeName="Blogs" urlName="blogs" path="-1,1081,1084" isDoc="" nodeType="1076" creatorName="Nhu" writerName="Nhu" writerID="0" template="1065" nodeTypeAlias="blogs" isPublished="true">
      <blogItem id="1107" key="1079527b-0c18-4ed9-b32a-199ac5bfc3c0" parentID="1084" level="3" creatorID="0" sortOrder="0" createDate="2023-01-02T19:17:53" updateDate="2023-01-03T07:25:41" nodeName="News Needs to Meet Its Audiences Where They Are" urlName="news-needs-to-meet-its-audiences-where-they-are" path="-1,1081,1084,1107" isDoc="" nodeType="1078" creatorName="Nhu" writerName="Nhu" writerID="0" template="1077" nodeTypeAlias="blogItem" isPublished="true">
        <thumbnail><![CDATA[umb://media/38349f00dd834daaa40d55b6c3ef52d0]]></thumbnail>
        <tags><![CDATA[news,sports]]></tags>
        <title><![CDATA[News Needs to Meet Its Audiences Where They Are]]></title>
        <blogUrl><![CDATA[news-needs-to-meet-its-audiences-where-they-are]]></blogUrl>
        <content><![CDATA[<p style="text-align: justify;"><em><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit officia neque beatae at inventore excepturi numquam sint commodi alias, quam consequuntur corporis ex, distinctio eaque sapiente pariatur iure ad necessitatibus in quod obcaecati natus consequatur. Sed dicta maiores, eos culpa.</strong></em></p>
<p style="text-align: justify;"><em><strong>Voluptatum animi, voluptate sint aperiam facere a nam, ex reiciendis eum nemo ipsum nobis, rem illum cupiditate at quaerat amet qui recusandae hic, atque laboriosam perspiciatis? Esse quidem minima, voluptas necessitatibus, officia culpa quo nulla, cupiditate iste vel unde magni.</strong></em></p>
<p style="text-align: justify;"><em><strong>Nulla nesciunt eligendi ratione, atque, hic, ullam suscipit quos enim vitae fugiat ducimus, dolore delectus iste id culpa. Ducimus, iste magnam sed reprehenderit architecto perferendis odio voluptas molestiae quidem ab numquam debitis, dolorem incidunt, tempore a quod qui nobis. Voluptates!</strong></em></p>
<p style="text-align: justify;"><em><strong>Blanditiis, ipsum sed odio reprehenderit sequi ut vitae, dolor minima ab! Architecto nesciunt nemo sint est aspernatur fugit consequatur, magnam suscipit asperiores illo eum repellendus officia dolorem, molestiae commodi nam voluptatem quis quia vel cumque quos, aliquam ex incidunt sapiente!</strong></em></p>
<p style="text-align: justify;"><em><strong>Suscipit, officiis, vero! Perferendis accusamus quos voluptatum culpa, provident maiores! Illo itaque ullam fugit molestiae, eaque accusamus impedit autem numquam. Placeat molestias tempore eaque ipsam vel voluptatum velit enim quam iusto maxime delectus, sint sapiente ea, quo excepturi nisi! Quia.</strong></em></p>
<p style="text-align: justify;"><em><strong>Dolores debitis excepturi maxime earum sapiente totam, quos dolore inventore tempore illum. Dolores explicabo sed amet aut atque, facere aliquid repudiandae quod possimus quo hic similique et voluptates fugit iure dolore quam ipsa numquam assumenda corporis? Dignissimos expedita fugit sapiente.</strong></em></p>
<p style="text-align: justify;"><em><strong>Cupiditate ut, aspernatur labore obcaecati, eveniet aut velit nulla facere suscipit est recusandae vel error itaque earum doloremque hic necessitatibus dignissimos dolores libero laudantium ducimus! Rem dolorem ratione officia et, fugit non, fuga suscipit eos veritatis enim perspiciatis, magni sit!</strong></em></p>]]></content>
      </blogItem>
      <blogItem id="1126" key="0a37b4fc-97ee-4f77-a1b5-1f36ec01fbdf" parentID="1084" level="3" creatorID="0" sortOrder="1" createDate="2023-01-02T19:59:09" updateDate="2023-01-03T07:25:48" nodeName="Morant’s Curve, Banff National Park, Canada" urlName="morant-s-curve-banff-national-park-canada" path="-1,1081,1084,1126" isDoc="" nodeType="1078" creatorName="Nhu" writerName="Nhu" writerID="0" template="1077" nodeTypeAlias="blogItem" isPublished="true">
        <thumbnail><![CDATA[umb://media/067bbe5526fb4b8e90b7b8aa1c1b86bf]]></thumbnail>
        <tags><![CDATA[beauty]]></tags>
        <title><![CDATA[Morant’s Curve, Banff National Park, Canada]]></title>
        <blogUrl><![CDATA[morants-curve-banff-national-park-canada]]></blogUrl>
        <content><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit officia neque beatae at inventore excepturi numquam sint commodi alias, quam consequuntur corporis ex, distinctio eaque sapiente pariatur iure ad necessitatibus in quod obcaecati natus consequatur. Sed dicta maiores, eos culpa.</p>
<p>Voluptatum animi, voluptate sint aperiam facere a nam, ex reiciendis eum nemo ipsum nobis, rem illum cupiditate at quaerat amet qui recusandae hic, atque laboriosam perspiciatis? Esse quidem minima, voluptas necessitatibus, officia culpa quo nulla, cupiditate iste vel unde magni.</p>
<p>Nulla nesciunt eligendi ratione, atque, hic, ullam suscipit quos enim vitae fugiat ducimus, dolore delectus iste id culpa. Ducimus, iste magnam sed reprehenderit architecto perferendis odio voluptas molestiae quidem ab numquam debitis, dolorem incidunt, tempore a quod qui nobis. Voluptates!</p>
<p>Blanditiis, ipsum sed odio reprehenderit sequi ut vitae, dolor minima ab! Architecto nesciunt nemo sint est aspernatur fugit consequatur, magnam suscipit asperiores illo eum repellendus officia dolorem, molestiae commodi nam voluptatem quis quia vel cumque quos, aliquam ex incidunt sapiente!</p>
<p>Suscipit, officiis, vero! Perferendis accusamus quos voluptatum culpa, provident maiores! Illo itaque ullam fugit molestiae, eaque accusamus impedit autem numquam. Placeat molestias tempore eaque ipsam vel voluptatum velit enim quam iusto maxime delectus, sint sapiente ea, quo excepturi nisi! Quia.</p>
<p>Dolores debitis excepturi maxime earum sapiente totam, quos dolore inventore tempore illum. Dolores explicabo sed amet aut atque, facere aliquid repudiandae quod possimus quo hic similique et voluptates fugit iure dolore quam ipsa numquam assumenda corporis? Dignissimos expedita fugit sapiente.</p>
<p>Cupiditate ut, aspernatur labore obcaecati, eveniet aut velit nulla facere suscipit est recusandae vel error itaque earum doloremque hic necessitatibus dignissimos dolores libero laudantium ducimus! Rem dolorem ratione officia et, fugit non, fuga suscipit eos veritatis enim perspiciatis, magni sit!</p>]]></content>
      </blogItem>
    </blogs>
    <contact id="1100" key="cda503fe-9a46-4222-b53e-206de091fd6c" parentID="1081" level="2" creatorID="0" sortOrder="3" createDate="2022-12-30T16:41:46" updateDate="2022-12-30T17:04:27" nodeName="Contact Us" urlName="contact-us" path="-1,1081,1100" isDoc="" nodeType="1070" creatorName="Nhu" writerName="Nhu" writerID="0" template="1069" nodeTypeAlias="contact" isPublished="true" />
  </page>
</root>