<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT page ANY>
<!ATTLIST page id ID #REQUIRED>
<!ELEMENT sliderItem ANY>
<!ATTLIST sliderItem id ID #REQUIRED>
<!ELEMENT sliders ANY>
<!ATTLIST sliders id ID #REQUIRED>
<!ELEMENT blogs ANY>
<!ATTLIST blogs id ID #REQUIRED>
<!ELEMENT blogItem ANY>
<!ATTLIST blogItem id ID #REQUIRED>
<!ELEMENT header ANY>
<!ATTLIST header id ID #REQUIRED>
<!ELEMENT footer ANY>
<!ATTLIST footer id ID #REQUIRED>
<!ELEMENT socialMedia ANY>
<!ATTLIST socialMedia id ID #REQUIRED>
<!ELEMENT navbarItem ANY>
<!ATTLIST navbarItem id ID #REQUIRED>
<!ELEMENT newsletterItem ANY>
<!ATTLIST newsletterItem id ID #REQUIRED>
]>
<root id="-1">
  <page id="1081" key="38f053d7-d1c5-43d6-a263-aa96dc34f30c" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2022-12-30T14:39:01" updateDate="2023-01-02T19:06:22" nodeName="Pages" urlName="pages" path="-1,1081" isDoc="" nodeType="1071" creatorName="Nhu" writerName="Nhu" writerID="0" template="0" nodeTypeAlias="page" isPublished="false" isDraft="">
    <socialMedias><![CDATA[[{"key":"33efe425-b6a5-4302-bf71-24b4c3dc7ad4","name":"Item 1","ncContentTypeAlias":"socialMedia","platformName":"Facebook","platformIcon":"","platformUrl":"https://vi-vn.facebook.com/"},{"key":"0e22ef8d-2e33-4bfc-ba98-242c184813dc","name":"Item 2","ncContentTypeAlias":"socialMedia","platformName":"Instagram","platformIcon":"","platformUrl":"https://www.instagram.com/"},{"key":"8158c2b0-1ea1-49e3-bad7-b8ee011f3f8c","name":"Item 3","ncContentTypeAlias":"socialMedia","platformName":"Twitter","platformIcon":"","platformUrl":"https://twitter.com/?lang=vi"}]]]></socialMedias>
    <logoText><![CDATA[Blogging]]></logoText>
    <logoUrl><![CDATA[https://www.google.com]]></logoUrl>
    <navbar><![CDATA[[{"key":"0634c461-eb81-4f18-88a3-fabdd837e749","name":"Item 1","ncContentTypeAlias":"navbarItem","navbarItemName":"Home","navbarItemIcon":"","navbarUrl":"/home-page/"}]]]></navbar>
    <footerContent><![CDATA[This is my blog site footer]]></footerContent>
    <home id="1082" key="b98ac48d-105c-48e2-9f9a-bf096acee1d4" parentID="1081" level="2" creatorID="0" sortOrder="0" createDate="2022-12-30T14:39:26" updateDate="2022-12-30T14:40:36" nodeName="Home Page" urlName="home-page" path="-1,1081,1082" isDoc="" nodeType="1064" creatorName="Nhu" writerName="Nhu" writerID="0" template="1079" nodeTypeAlias="home" isPublished="false" />
    <blogs id="1084" key="7a36d97b-194c-4804-b02e-7ef7890a058a" parentID="1081" level="2" creatorID="0" sortOrder="2" createDate="2022-12-30T14:41:35" updateDate="2022-12-30T17:04:22" nodeName="Blogs" urlName="blogs" path="-1,1081,1084" isDoc="" nodeType="1076" creatorName="Nhu" writerName="Nhu" writerID="0" template="1065" nodeTypeAlias="blogs" isPublished="true" />
    <contact id="1100" key="cda503fe-9a46-4222-b53e-206de091fd6c" parentID="1081" level="2" creatorID="0" sortOrder="3" createDate="2022-12-30T16:41:46" updateDate="2022-12-30T17:04:27" nodeName="Contact Us" urlName="contact-us" path="-1,1081,1100" isDoc="" nodeType="1070" creatorName="Nhu" writerName="Nhu" writerID="0" template="1069" nodeTypeAlias="contact" isPublished="true" />
  </page>
</root>